<div class="fondo">
  <h1>Bar Tolomé</h1>
  <!-- <h2>{{refrescos[1][2][1]}}</h2> -->

  <div class="caja">


    <div (click)="desplegar('refrescos')" class="seccion">Refrescos
      <div class="flechita" [ngClass]="{'flechitaDesplegado': this.desplegados['refrescos'] == true}">></div></div>
    <div *ngIf="this.desplegados['refrescos']== true">
      <div class="producto" *ngFor="let refresco of refrescos" >
        <li class="nombre"><b [ngClass]="{'oferta': refresco[0] ===  'Fanta'}"> {{refresco[0]}}</b></li>
        <div class="precio" [ngClass]="{'oferta': refresco[0] === 'Fanta'}">{{refresco[1]}}</div>
      </div><br>
    </div>

    <div (click)="desplegar('cervezas')" class="seccion">Cervezas 
      <div class="flechita" [ngClass]="{'flechitaDesplegado': this.desplegados['cervezas'] == true}">></div></div>
    <div *ngIf="this.desplegados['cervezas']== true">
      <div class="producto" *ngFor="let cerveza of cervezas">
        <li class="nombre"><b>{{cerveza[0]}}</b></li>
        <div class="precio">{{cerveza[1]}}</div>
      </div><br>
    </div>

    <div (click)="desplegar('copas')" class="seccion">Copas
      <div class="flechita" [ngClass]="{'flechitaDesplegado': this.desplegados['copas'] == true}">></div></div>
    <div *ngIf="this.desplegados['copas']== true">
      <div class="producto" *ngFor="let copa of copas">
        <li class="nombre"><b>{{copa[0]}}</b></li>
        <div class="precio">{{copa[1]}}</div>
      </div><br>
    </div>

    <div (click)="desplegar('cafes')" class="seccion">Cafés
      <div class="flechita" [ngClass]="{'flechitaDesplegado': this.desplegados['cafes'] == true}">></div></div>
    <div *ngIf="this.desplegados['cafes']== true">
      <div class="producto" *ngFor="let cafe of cafes">
        <li class="nombre"><b>{{cafe[0]}}</b></li>
        <div class="precio">{{cafe[1]}}</div>
      </div><br>
    </div>

    <div (click)="desplegar('raciones')" class="seccion">Raciones
      <div class="flechita" [ngClass]="{'flechitaDesplegado': this.desplegados['raciones'] == true}">></div></div>
    <div *ngIf="this.desplegados['raciones']== true">
      <div class="producto" *ngFor="let racion of raciones">
        <li class="nombre"><b>{{racion[0]}}</b></li>
        <div class="precio">{{racion[1]}}</div>
      </div><br>
    </div>



  </div>
</div>